.searchMenuActive .menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.searchMenuActive .menu-align{
    display: table;
    height: 100%;
    width: 100%;
}
.searchMenuActive .menu-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.searchMenuActive .menu{
	
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(74,73,74,0.7);
	-moz-box-shadow: 0px 0px 12px 0px rgba(74,73,74,0.7);
	box-shadow: 0px 0px 12px 0px rgba(74,73,74,0.7);
    border: 10px solid rgba(243, 243, 243, 0.7);
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.searchMenuActive .menu input{
    width: 100%;
    display: block;
    line-height: 50px;
    height: 50px;
    font-size: 16px;
    outline: none;
    background: #fff;
    border: 1px solid #bbb;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
}

.searchMenuActive .menu input:focus{
    border: 1px solid #77ac45;
    background: #ebfdd7;
}

.searchMenuActive .menu .results{
    margin-top: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.searchMenuActive .menu .result{
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: hidden;
}

.searchMenuActive .menu .result .title .icon{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.searchMenuActive .menu .result .title a{
    padding-left: 26px;
}
.searchMenuActive .menu .result a{
    outline: none;
}

.searchMenuActive .menu .result .title {
    float: left;
}

.searchMenuActive .menu .result .operations {
   float: right;
}

.searchMenuActive .menu .result .operations a{
   margin-right: 3px;
}

.searchMenuActive .menu .result .operations a:focus{
    border-bottom: 1px solid #77ac45;
}

.searchMenuActive .menu .result .operations{
   margin-right: 10px;
}

.searchMenuActive .menu .result .info{
    color: #b3b3b3;
}

.searchMenuActive .menu .result.odd{
    background: #fff;
}

.searchMenuActive .menu .result.even{
    background: #fafafa;
}

.searchMenuActive .menu .result-category-header{
	font-weight: 600;
	background: #f6f6f6;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	padding: 5px;
}

.searchMenuActive .menu .no-results{
    margin-top: 0;
    overflow-y: hidden;
}

.searchMenuActive .menu input::-webkit-input-placeholder { color:#b3b3b3; font-weight: 300;}
.searchMenuActive .menu input::-moz-placeholder { color:#b3b3b3; font-weight: 300;} /* firefox 19+ */
.searchMenuActive .menu input:-ms-input-placeholder { color:#b3b3b3; font-weight: 300;} /* ie */
.searchMenuActive .menu input input:-moz-placeholder { color:#b3b3b3; font-weight: 300;}