.header_prosearch{
    padding: 2px 0 3px 20px;
    margin-left: 15px;
}
.header_prosearch.prosearch_v3icon {

    background: url('../iconv3.png') no-repeat left center;
}

.header_prosearch.prosearch_v4icon {
    background: url('../iconv4.svg') left 17px no-repeat;
    background-size: 16px 16px;
}

@media only screen and (min-width: 768px) {

    .header_prosearch.prosearch_v4icon {

        background-size: 13px 13px;
    }
}

.searchMenuActive .menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.searchMenuActive .menu-align{
    display: table;
    height: 100%;
    width: 100%;
}
.searchMenuActive .menu-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.searchMenuActive .menu{
	
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 12px 0 rgba(74,73,74,0.7);
	-moz-box-shadow: 0 0 12px 0 rgba(74,73,74,0.7);
	box-shadow: 0 0 12px 0 rgba(74,73,74,0.7);
    border: 10px solid rgba(243, 243, 243, 0.7);
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.searchMenuActive .menu input{
    width: 100%;
    display: block;
    
    font-size: 16px;
    outline: none;
    background: #ebfdd7;
    border: 1px solid #bbb;
    line-height: normal;
    padding: 15px 10px 15px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
}

.searchMenuActive .menu input:focus{
    border: 1px solid #77ac45;
    background: #ebfdd7;
}

.searchMenuActive .menu .results{
    margin-top: 10px;
    max-height: 325px;
    overflow-y: scroll;
}

.searchMenuActive .menu .result{
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: hidden;
}

.searchMenuActive .menu .result.last{
    border-bottom: 0;
}

.searchMenuActive .menu .result .title .icon{
    position: absolute;
    left: 5px;
    line-height: 0;
}

.searchMenuActive .menu .result .title a{
    padding-left: 26px;
}
.searchMenuActive .menu .result a{
    outline: none;
}

.searchMenuActive .menu .result .title {
    float: left;
}

.searchMenuActive .menu .result .operations {
   float: right;
}

.searchMenuActive .menu .result .operations a{
   margin-right: 3px;
}

.searchMenuActive .menu .result .operations a:focus{
    border-bottom: 1px solid #77ac45;
}

.searchMenuActive .menu .result .operations{
   margin-right: 10px;
}

.searchMenuActive .menu .result .info{
    color: #b3b3b3;
    white-space: nowrap;
    max-width: 375px;
    overflow: hidden;
}

.searchMenuActive .menu .result .ps_tag{
    background: #eb8623;
    color: #fff;
    margin-left: 2px;
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
}

.searchMenuActive .menu .result.odd{
    background: #fff;
}

.searchMenuActive .menu .result.even{
    background: #fafafa;
}

.searchMenuActive .menu .result-category-header{
	font-weight: 600;
	background: #f6f6f6;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	padding: 5px;
}

.searchMenuActive .menu .no-results{
    margin-top: 0;
    overflow-y: hidden;
}

.searchMenuActive .menu .loading{
    background: url("../loading.gif") no-repeat center center;
    display: block;
    width: 100%;
    height: 170px;
}

.searchMenuActive .menu ::-webkit-input-placeholder { color:#b3b3b3; font-weight: 300; -webkit-font-smoothing: antialiased;}
.searchMenuActive .menu ::-moz-placeholder { color:#b3b3b3; font-weight: 300;} /* firefox 19+ */
.searchMenuActive .menu :-ms-input-placeholder { color:#b3b3b3; font-weight: 300;} /* ie */
.searchMenuActive .menu :-moz-placeholder { color:#b3b3b3; font-weight: 300;}

.ps_alert{
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
.ps_alert .loading{
    background: url("../loading.gif") no-repeat center center;
    width: 50px;
    height: 29px;
    padding: 3px;
    display: block;
}
.ps_alert p{
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    margin-left: 5px;
}

.ps_alert .empty,
.ps_alert .success{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc400+0,8fc400+100;Green+Flat+%236 */
    background: #8fc400; /* Old browsers */
    background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
    height: 29px;
    line-height: 29px;
    padding: 3px;
}


.ps_alert .failure{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2825b+0,e55b2b+50,f07146+100;Red+3D+%232 */
    background: #f2825b; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
    height: 29px;
    line-height: 29px;
    padding: 3px;
}

.ps_alert .repeat{
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,4096ee+100;Blue+Flat+%232 */
    background: #4096ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #4096ee 0%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4096ee 0%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4096ee 0%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    height: 29px;
    line-height: 29px;
    padding: 3px;
}

.ps_alert .repeat:after{
    content: '';
    width: 50px;
    height: 29px;
    position: absolute;
    right: 3px;
    top: 3px;
    background-image: url("../loading2.gif");
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

.searchMenuActive .menu .license p{
    margin-bottom: 0;
    line-height: 1.35;
    font-size: 9px;
}

.searchMenuActive .menu .license{
    padding: 10px 0 5px 0;
}
.searchMenuActive .menu .license a{
    font-size: inherit;
    color: #77ac45;
}
